pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
failures/
/store/
/.test_store/
/tmp/
/logs/
.DS_Store
/dev-resources/bench/*.json
.clj-kondo/
.lsp/
