{:paths ["src/lib" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        com.taoensso/carmine {:mvn/version "3.1.0"}
        commons-fileupload/commons-fileupload {:mvn/version "1.4"}
        com.yetanalytics/xapi-schema
        {:git/url "https://github.com/yetanalytics/xapi-schema.git"
         :sha "5cb168a1af2e0d4e465db067ba2e44bcde71bdc9"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json]}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        com.yetanalytics/project-persephone
        {:git/url "https://github.com/yetanalytics/project-persephone.git"
         :sha "b6f1155ee28cd77e2dba2ee3eb9b711a79c8f57d"
         :exclusions [org.clojure/clojurescript]}}
 :aliases
 {:cli {:extra-paths ["src/cli"]
        :extra-deps {org.clojure/tools.cli {:mvn/version "1.0.206"}
                     ch.qos.logback/logback-classic
                     {:mvn/version "1.2.3"
                      :exclusions [org.slf4j/slf4j-api]}
                     org.slf4j/slf4j-api {:mvn/version "1.7.26"}
                     org.slf4j/jul-to-slf4j {:mvn/version "1.7.26"}
                     org.slf4j/jcl-over-slf4j {:mvn/version "1.7.26"}
                     org.slf4j/log4j-over-slf4j {:mvn/version "1.7.26"}

                     clj-commons/iapetos {:mvn/version "0.1.12"}
                     io.prometheus/simpleclient_hotspot {:mvn/version "0.12.0"}}}
  :test {:extra-paths ["src/test"
                       "src/bench"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}
                      com.yetanalytics/lrs {:git/url "https://github.com/yetanalytics/lrs.git"
                                            :sha "f58af8f7a096f91ecffeb320ed0e2a4386e026da"}
                      io.pedestal/pedestal.jetty {:mvn/version "0.5.9"}
                      ;; Some integration tests use logback
                      ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                                      :exclusions [org.slf4j/slf4j-api]}
                      org.slf4j/slf4j-api {:mvn/version "1.7.26"}
                      org.slf4j/jul-to-slf4j {:mvn/version "1.7.26"}
                      org.slf4j/jcl-over-slf4j {:mvn/version "1.7.26"}
                      org.slf4j/log4j-over-slf4j {:mvn/version "1.7.26"}
                      com.yetanalytics/datasim
                      {:git/url    "https://github.com/yetanalytics/datasim.git"
                       :sha        "d55f24098aca78db69e2f03d4f202ce58b5fdb49"
                       :exclusions [org.clojure/test.check
                                    com.yetanalytics/project-pan
                                    com.yetanalytics/xapi-schema]}}
         :exec-fn cognitect.test-runner.api/test}
  :bench {:extra-paths ["src/bench"]
          :ns-default com.yetanalytics.xapipe.bench}
  :build {:paths ["src/build"]
          :deps {io.github.clojure/tools.build {:git/tag "v0.6.6" :git/sha "4d41c26"}}
          :ns-default com.yetanalytics.xapipe.build}}}
