{:paths ["src/lib" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/core.async {:mvn/version "1.3.618"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        cheshire/cheshire {:mvn/version "5.10.0"}
        com.taoensso/timbre {:mvn/version "5.1.2"}
        com.taoensso/carmine {:mvn/version "3.1.0"
                              :exclusions [com.taoensso/timbre]}
        commons-fileupload/commons-fileupload {:mvn/version "1.4"}
        com.yetanalytics/xapi-schema
        {:git/url "https://github.com/yetanalytics/xapi-schema.git"
         :sha "5cb168a1af2e0d4e465db067ba2e44bcde71bdc9"
         :exclusions [org.clojure/clojure
                      org.clojure/clojurescript
                      org.clojure/data.json]}
        org.clojure/tools.logging {:mvn/version "1.1.0"}
        com.yetanalytics/project-persephone
        {:git/url "https://github.com/yetanalytics/project-persephone.git"
         :sha "b6f1155ee28cd77e2dba2ee3eb9b711a79c8f57d"
         :exclusions [org.clojure/clojurescript]}
        com.github.clj-easy/graal-build-time {:mvn/version "0.1.4"}}
 :aliases
 {:cli {:extra-paths ["src/cli"]
        :extra-deps {org.clojure/tools.cli {:mvn/version "1.0.206"}
                     ch.qos.logback/logback-classic
                     {:mvn/version "1.2.3"
                      :exclusions [org.slf4j/slf4j-api]}}}
  :test {:extra-paths ["src/test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "dd6da11611eeb87f08780a30ac8ea6012d4c05ce"}
                      com.yetanalytics/lrs {:git/url "https://github.com/yetanalytics/lrs.git"
                                            :sha "f58af8f7a096f91ecffeb320ed0e2a4386e026da"}
                      io.pedestal/pedestal.jetty {:mvn/version "0.5.9"}
                      ;; Some integration tests use logback
                      ch.qos.logback/logback-classic {:mvn/version "1.2.3"
                                                      :exclusions [org.slf4j/slf4j-api]}
                      com.yetanalytics/datasim
                      {:git/url    "https://github.com/yetanalytics/datasim.git"
                       :sha        "9a4fb7926981b1282cc72aa093bd66a1c57abbd1"
                       :exclusions [org.clojure/test.check
                                    com.yetanalytics/project-pan
                                    com.yetanalytics/xapi-schema]}}
         :exec-fn cognitect.test-runner.api/test}
  :bench {:extra-paths ["src/bench"]
          :ns-default com.yetanalytics.xapipe.bench
          :exec-fn run-bench}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.1.278"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "target/bundle/xapipe.jar"
                        :main-class "com.yetanalytics.xapipe.main"
                        :sync-pom true
                        :aliases [:cli]}}}}
